
/* ---media queries---- */

@media screen and (max-width: 992px) {
     .section-center {
       width: 85vw;
       padding: 4rem 0;
     }
   }
   
   @media screen and (max-width: 800px) {
        h1 {
          font-size: 3rem; 
        }
        h2 {
          font-size: 2rem; 
        }
        h3 {
          font-size: 1.5rem; 
        }
        h4 {
          font-size: 0.875rem; 
        }
        body {
          font-size: 0.875rem;
        }
        h1,
        h2,
        h3,
        h4 {
          line-height: 1.25;
        }
   }
   
   @media screen and (max-width:767px) {
     .skill {
       flex: 0 0 50%;
       max-width: 50%;
     }
     .skill:hover {
        margin-bottom: 0.2rem;
      }
     .product{
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
     }
   }
   
   @media screen and (max-width: 576px) {
     .nav-btn{
        font-size: 1.5rem;
     }
     .navbar{
        width: 100%;
        max-width: 100%;
     }
     .skill {
       flex: 0 0 100%;
       max-width: 100%;
     }
     .about-img,.about-info,
     .products-info, .products-inventory,.product,
     .service-card,
     .contact-info, .contact-form {
       flex: 0 0 100%;
       max-width: 100%;
     }
   
   }
   